@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700;900&family=Inter:wght@400;500;600&display=swap');

@layer base {
    .nav {
        @apply p-4 relative z-10 hover:text-white after:block after:absolute after:top-0 after:left-0 after:bottom-0 after:right-0 after:w-full after:h-[1px] after:m-auto after:transition-all after:bg-[#80C8D5] after:invisible after:-z-10 after:hover:visible after:hover:h-full transition duration-500
    }
    h3 {
        @apply font-black text-2xl md:text-4xl py-4 mb-0
    }
    .wrapper {
        @apply grid grid-cols-1 md:grid-cols-3 mx-auto
    }
    .card {
        @apply w-full md:px-3
    }
    .gradient {
        @apply z-20 absolute w-full h-full bg-gradient-to-t from-slate-950/70
    }
}